:root {
  --primary: #28a3bf;
  --secondary: #c4cf2c;
  --success: #80bf28;
  --warning: #e3df09;
  --info: #28bfba;
  --danger: #bf3a28;
  --text: #031926;
  --white: #f2f2f2;
  --font-size-1: 2rem;
  --font-size-2: 1.5rem;
  --shadow-1: rgb(0 0 0 / 35%) 0px 8px 24px;
  --shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --animation-1: 200ms;
}
